.avatar {
    position: relative;
    width: var(--space-xl);
    height: var(--space-xl);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: rgb(255, 255, 255);
}

.avatar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
