.button {
    display: inline-block;
    padding: var(--space-xxs) var(--space-xs);
    line-height: 1;

    border: 2px solid var(--gray-dark);
    border-radius: 4px;
    background-color: white;

    font-weight: 600;
    color: var(--gray-dark);
    text-decoration: none;
    text-align: center;

    transition: 0.1s all ease-out;
}

.button:hover {
    background-color: var(--gray-dark);
    color: white;
}

.button--lg {
    padding: var(--space-xs) var(--space-sm);
}

.button--block {
    display: block;
    width: 100%;
}
