.callout {
    --text-color: var(--blue-darker);
    --background-color: var(--blue-lightest);
    --border-color: var(--blue-darker);

    padding: var(--space-xs);
    background-color: var(--background-color);
    color: var(--text-color);
    border-left: 3px solid var(--border-color);
}

.callout a {
    font-weight: 600;
}

.callout__heading {
    color: var(--text-color);
}

.callout--warning {
    --text-color: var(--orange-darker);
    --background-color: var(--orange-lightest);
    --border-color: var(--orange);
}
