.cc-logo--light {
    opacity: 0.75;
}

.cc-logo {
    display: inline-block;
    text-align: center;
}

.cc-logo figcaption {
    font-size: var(--text-xxs);
    line-height: 1;
    font-family: var(--font-family-condensed);
    font-weight: 500;
}

.cc-logo svg {
    fill: currentColor;
    height: var(--space-sm);
}
