.hero {
    background-color: var(--blue-darker);
    color: var(--blue-lightest);
}

.hero__text {
    font-size: var(--text-lg);
    padding-top: var(--space-lg);
    padding-bottom: var(--space);
}

.hero__title {
    color: #fff;
    margin-bottom: var(--space-xs);
}

.hero__action {
    background-image: linear-gradient(
        to bottom,
        var(--blue-darker) 60%,
        #fff 60%
    );
}
