.input {
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    background-color: #fff;
}

.input--lg {
    padding: var(--space-xs) var(--space-sm);
}

.input--elevated {
    border-color: var(--blue-dark);
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.15))
        drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
}

input[type='search'] {
    -webkit-appearance: none;
}

.input:focus {
    border-color: var(--blue);
}
