.input {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    background-color: #fff;
}

.input--lg {
    padding: var(--space-xs) var(--space-sm);
}

input[type='search'] {
    -webkit-appearance: none;
}

.input:focus {
    outline: none;
    border-color: var(--blue);
    box-shadow: 0 0 0 3px var(--color-focus-outline);
}
