.member-card {
    background-color: var(--gray-lightest);
    border-radius: 4px;
    padding: var(--space-sm);
    display: flex;
    flex-direction: row;
}

.member-card__infos {
    padding-left: var(--space-lg);
}

.member-card__contacts > li {
    display: inline;
}
