.tabs {
    display: block;
}

.tabs__tablist {
    position: sticky;
    top: 0px;
    z-index: 1;

    display: flex;
    margin-bottom: var(--space-sm);

    background-color: white;
    border-bottom: 1px solid var(--gray-light);

    /* Prevent overflowing contents (e.g. shadows) from being visible */
    box-shadow: calc(-1 * var(--space)) 0 0 white;

    /* We use padding-top to add space at the top when stuck and use
     * margin-top to normalize that effect when unstuck. */
    padding-top: var(--space);
    margin-top: calc(-1 * var(--space));
}

.tabs__tablist > * + * {
    margin-left: var(--space-sm);
}
