.vote-result-chart {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.vote-result-chart > * + * {
    margin-left: 1px;
}

.vote-result-chart__bar {
    width: calc(var(--ratio) * 100%);
    padding: var(--space-xs) 0;

    color: white;
    text-align: center;
    font-weight: 600;
    font-size: var(--text-sm);
}

.vote-result-chart--slim .vote-result-chart__bar {
    padding: 3px;
}

.vote-result-chart--slim .vote-result-chart__thumb,
.vote-result-chart--slim .vote-result-chart__percentage {
    display: none;
}

.vote-result-chart__bar--for {
    background-color: var(--green);
    background-image: var(--green-pattern);
}

.vote-result-chart__bar--against {
    background-color: var(--red);
    background-image: var(--red-pattern);
}

.vote-result-chart__bar--abstention {
    background-color: var(--blue);
}

.vote-result-chart__bar--small .vote-result-chart__thumb,
.vote-result-chart__bar--small .vote-result-chart__percentage {
    display: none;
}

.vote-result-chart__bar--medium .vote-result-chart__percentage {
    display: none;
}

@media screen and (max-width: 720px) {
    .vote-result-chart__bar--medium .vote-result-chart__thumb {
        display: none;
    }
}
