.vote-result-chart {
    display: flex;
    gap: 1px;
    border-radius: 2px;
    overflow: hidden;
}

.vote-result-chart__bar {
    width: calc(var(--ratio) * 100%);
    padding: var(--space-xxs) 0;

    color: white;
    text-align: center;
    font-weight: 600;
    font-size: var(--text-sm);
}

.vote-result-chart__bar--for {
    background-color: var(--green);
    background-image: var(--green-pattern);
}

.vote-result-chart__bar--against {
    background-color: var(--red);
    background-image: var(--red-pattern);
}

.vote-result-chart__bar--abstention {
    background-color: var(--gray);
}
