HTV_ENV=local
HTV_BACKEND_PUBLIC_URL=https://localhost/api
HTV_FRONTEND_PUBLIC_URL=https://localhost
SENTRY_ENVIRONMENT=development
CADDY_SITE_ADDRESS=localhost

# Optional
PUSHOVER_API_TOKEN=
PUSHOVER_USER_KEY=
HTV_FRONTEND_SENTRY_DSN=
HTV_BACKEND_SENTRY_DSN=
