.Banner {
  position: relative;
  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);
  background-color: var(--blue-lightest);
  color: var(--color-text-light);
  font-size: var(--text-sm);
}

.Banner__wrapper {
  position: relative;
  /* Space reserved for close button */
  padding-inline-end: 1em;
}

.Banner strong,
.Banner a {
  font-weight: 500;
  color: var(--color-text);
}

.Banner__close {
  position: absolute;
  top: 50%;
  right: -0.5em;
  transform: translateY(-50%);
  width: 1.75em;
  height: 1.75em;
  padding: 0.5em;
}

.Banner__close svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
