.disclosure {
  padding: var(--space-xxs) 0;
}

.disclosure + .disclosure {
  border-top: 1px solid var(--gray-light);
}

.disclosure > summary {
  display: flex;
  gap: var(--space-xs);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: var(--space-xxs) 0;
  font-weight: 500;
  cursor: default;
  user-select: none;
  border-radius: var(--border-radius-xs);
}

.disclosure > summary::-webkit-details-marker {
  display: none;
}

.disclosure > summary > svg {
  flex-shrink: 0;
  flex-grow: 0;
  transform: rotate(-90deg);
  transition: 0.1s transform ease-out;
  fill: var(--color-text-light);
}

.disclosure[open] > summary > svg {
  transform: rotate(0);
}

.disclosure__content {
  padding-bottom: var(--space-xs);
}
