.empty-state {
  display: flex;
  widows: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space);
  background-color: var(--gray-lightest);
  text-align: center;
  color: var(--color-text-light);
  border-radius: var(--border-radius);
  text-wrap: balance;
}
