.footer {
  display: grid;
  gap: var(--space-xxs);
  text-align: center;
  margin-bottom: env(safe-area-inset-bottom);
  padding: var(--space-sm);
  border-top: var(--gray-light) 1px solid;
  font-size: var(--text-sm);
}

.footer--dark {
  border-top: none;
}

.footer--dark a {
  text-decoration: none;
}

.footer ul {
  list-style: none;
}

.footer li {
  display: inline-block;
}

.footer li + li {
  margin-left: var(--space-sm);
}
