.input {
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
  padding: var(--space-xxs);
  background-color: #fff;
}

.input--lg {
  padding: var(--space-xs);
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="date"] {
  color: inherit;
}

.input:focus-within {
  border-color: var(--blue);
  outline-offset: 0;
}
