.member-header {
  padding: var(--space-sm);
  background-color: var(--gray-lightest);
  color: var(--color-text-light);
}

.member-header__wrapper {
  display: flex;
}

.member-header__photo {
  width: 33%;
  max-width: 175px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  aspect-ratio: 4 / 5;

  padding: 4px;
  background: #fff;
  box-shadow:
    0 5px 15px rgba(0, 0, 0, 0.15),
    0 2px 3px rgba(0, 0, 0, 0.15);
}

.member-header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--space);
}

.member-header__title {
  margin-bottom: var(--space-xxs);
}

.member-header__social {
  list-style: none;
  margin-top: var(--space-sm);
}

.member-header__social li {
  display: inline-block;
}

.member-header__social li + li {
  margin-left: var(--space-xs);
}

@media screen and (min-width: 720px) {
  .member-header {
    padding-bottom: 0;
    background-image: linear-gradient(
      to top,
      #fff var(--space-lg),
      transparent var(--space-lg)
    );
  }

  .member-header__text {
    margin-bottom: var(--space-lg);
  }

  .member-header__subtitle {
    font-size: var(--text-lg);
  }
}
