.member-sharepic {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  width: 100%;
  height: 100%;
  padding: var(--space-lg);

  background-image: url(../images/bg-dark.jpg);
  background-size: cover;

  color: #fff;
  font-size: var(--text-lg);
  text-wrap: balance;
}

.member-sharepic__photo {
  width: 175px;
  height: auto;
  padding: 4px;
  aspect-ratio: 4 / 5;
  background-color: #fff;
  transform: rotate(-3deg) translateY(10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.member-sharepic__title {
  margin-block-end: var(--space-xs);
  color: #fff;
  font-size: var(--text-xxl);
}

.member-sharepic__title strong {
  font-weight: 700;
  color: rgb(251, 228, 76);
}

.member-sharepic__subtitle {
  margin-block-end: var(--space-xs);
}

.member-sharepic strong {
  color: rgb(251, 228, 76);
  font-weight: 700;
}
