.member-sharepic {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  width: 100%;
  height: 100%;
  padding: var(--space-lg);

  background-color: var(--blue-darkest);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
  background-size: cover;

  color: #fff;
  text-wrap: balance;
}

.member-sharepic__photo {
  position: relative;
  width: 30%;
  flex-shrink: 0;
  flex-grow: 0;
}

.member-sharepic__photo img {
  width: 100%;
  height: auto;
  padding: 4px;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  background-color: #fff;
  transform: rotate(-3deg) translateY(10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.member-sharepic__for,
.member-sharepic__against {
  position: absolute;
  padding: 5%;
}

.member-sharepic__for {
  bottom: -10%;
  left: -7.5%;
  width: var(--space-xl);
  height: var(--space-xl);
  transform: rotate(5deg);
}

.member-sharepic__against {
  top: -5%;
  right: -5%;
  width: var(--space-lg);
  height: var(--space-lg);
}

.member-sharepic__title {
  margin-block-end: var(--space-xs);
  color: #fff;
  font-size: var(--text-xxl);
}

.member-sharepic__subtitle {
  color: rgba(255, 255, 255, 0.9);
  margin-block-end: var(--space-xs);
}

.member-sharepic strong {
  color: rgb(251, 228, 76);
  font-weight: 700;
}
