.search-actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  font-size: var(--text-sm);
  column-gap: var(--space);
  row-gap: var(--space-xs);
  color: var(--color-text-light);
}

.search-actions__total {
  display: none;
}

.search-actions__sort {
  margin-inline-start: auto;
}

.search-actions__toggle {
  color: inherit;
}

.search-actions__facet-tags {
  display: flex;
  width: 100%;
  gap: var(--space-xxs);
  flex-wrap: wrap;
  list-style: none;
}

.search-actions__facet-tags:empty {
  display: none;
}

@media screen and (min-width: 720px) {
  .search-actions__total {
    display: block;
    margin-inline-end: auto;
  }

  .search-actions__sort {
    margin: 0;
  }
}
