.search-facet-date-options {
  display: grid;
  width: 100%;
  gap: var(--space-xs);
  grid-template-areas: "from to" "quick-select quick-select";
  grid-template-columns: 1fr 1fr;
}

.search-facet-date-options__input {
  /* I have no idea why, but this seems to be the only way to ensure that
   * the date input takes up 100% width in iOS Safari.
   */
  display: flex;
  width: 100%;
}

.search-facet-date-options__label {
  margin-block-end: var(--space-xxs);
  font-size: var(--text-xs);
}

.search-facet-date-options__quick-select {
  display: flex;
  width: 100%;
  grid-area: quick-select;
  gap: var(--space-xxs);
}
