.stack {
  --gap: var(--space);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.stack--sm {
  --gap: var(--space-sm);
}

.stack--xs {
  --gap: var(--space-xs);
}

.stack--xxs {
  --gap: var(--space-xxs);
}

.stack--lg {
  --gap: var(--space-lg);
}

.stack--xl {
  --gap: var(--space-xl);
}
