.tag {
  display: inline-block;
  padding-inline: var(--space-xxs);
  font-weight: 500;
  background-color: var(--gray-lightest);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--gray-light);
}
