.thumb {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.thumb__icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
  vertical-align: -10%;
}

.thumb--against .thumb__icon,
.thumb--rejected .thumb__icon {
  transform: scale(1, -1);
}

.thumb--neutral .thumb__icon,
.thumb--abstention .thumb__icon {
  transform: rotate(90deg) scale(-1, 1) translateY(-7.5%);
}

.thumb--circle {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  vertical-align: middle;

  border-radius: 50%;
  background-color: currentColor;
}

.thumb--circle.thumb--for,
.thumb--circle.thumb--adopted {
  background-color: var(--green);
}

.thumb--circle.thumb--against,
.thumb--circle.thumb--rejected {
  background-color: var(--red);
}

.thumb--circle.thumb--abstention {
  background-color: var(--blue);
}

.thumb--circle.thumb--did-not-vote {
  background-color: transparent;
  border: 4px solid var(--gray);
}

.thumb--did-not-vote .thumb__icon {
  display: none;
}

.thumb--circle .thumb__icon {
  color: #fff;
  vertical-align: 0;
}

.thumb--circle.thumb--for .thumb__icon,
.thumb--circle.thumb--adopted .thumb__icon,
.thumb--circle.thumb--abstention .thumb__icon {
  vertical-align: 20%;
}
