.vote-header {
  padding: var(--space-lg) var(--space-sm);
  background-color: var(--gray-lightest);
}

.vote-header__summary ul li {
  list-style-position: inside;
}

.vote-header__summary ul li + li {
  margin-block-start: var(--space-xxs);
}

.vote-header__summary p + p {
  margin-block-start: var(--space-xxs);
}

.vote-header__feedback {
  font-size: var(--text-sm);
  color: var(--color-text-light);
}

@media screen and (min-width: 520px) {
  .vote-header__facts ul li {
    list-style-position: outside;
    margin-inline-start: var(--space-sm);
  }
}
