.vote-result-chart__bars {
  display: flex;
  gap: 2px;
  min-height: calc(2 * var(--space-xs));
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  margin-bottom: var(--space-xxs);
}

.vote-result-chart__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--ratio) * 100%);
  padding: var(--space-xs) 0;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: var(--text-sm);
}

.vote-result-chart--slim .vote-result-chart__bars {
  min-height: 10px;
}

.vote-result-chart--slim .vote-result-chart__bar {
  padding: 3px 0;
}

.vote-result-chart--slim .vote-result-chart__text {
  display: none;
}

.vote-result-chart__text {
  padding: 2px;
  border-radius: var(--border-radius-sm);
  margin-inline: auto;
}

.vote-result-chart__bar--for .vote-result-chart__text {
  background: var(--green);
}

.vote-result-chart__bar--against .vote-result-chart__text {
  background: var(--red);
}

.vote-result-chart__bar--for {
  background-color: var(--green);
  background-image: var(--green-pattern);
}

.vote-result-chart__bar--against {
  background-color: var(--red);
  background-image: var(--red-pattern);
}

.vote-result-chart__bar--abstention {
  background-color: var(--blue);
}

.vote-result-chart__bar--small .vote-result-chart__text {
  display: none;
}

.vote-result-chart__bar--medium .vote-result-chart__percentage {
  display: none;
}

@media screen and (max-width: 720px) {
  .vote-result-chart__bar--medium .vote-result-chart__thumb {
    display: none;
  }
}
