.vote-result-chart__bars {
  display: flex;
  gap: 2px;
  min-height: calc(2 * var(--space-xs));
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  margin-bottom: var(--space-xxs);
}

.vote-result-chart__bar {
  container-type: inline-size;
  container-name: vote-result-chart-bar;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--ratio) * 100%);
  padding: var(--space-xs) 0;

  background-color: var(--vote-result-chart-bar-background-color);
  background-image: var(--vote-result-chart-bar-background-image);
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: var(--text-sm);
}

.vote-result-chart__label {
  padding: 2px;
  border-radius: var(--border-radius-sm);
  margin-inline: auto;
  background-color: var(--vote-result-chart-bar-background-color);
}

.vote-result-chart--slim .vote-result-chart__bars {
  min-height: 10px;
}

.vote-result-chart--slim .vote-result-chart__bar {
  padding: 3px 0;
}

.vote-result-chart--slim .vote-result-chart__label {
  display: none;
}

.vote-result-chart__bar--for {
  --vote-result-chart-bar-background-color: var(--green);
  --vote-result-chart-bar-background-image: var(--green-pattern);
}

.vote-result-chart__bar--against {
  --vote-result-chart-bar-background-color: var(--red);
  --vote-result-chart-bar-background-image: var(--red-pattern);
}

.vote-result-chart__bar--abstention {
  --vote-result-chart-bar-background-color: var(--blue);
}

.vote-result-chart__bar--did-not-vote {
  --vote-result-chart-bar-background-color: var(--gray-medium);
  --vote-result-chart-bar-background-image: var(--green-pattern);

}

@container vote-result-chart-bar (width < 50px) {
  .vote-result-chart__percentage {
    display: none;
  }
}

@container vote-result-chart-bar (width < 30px) {
  .vote-result-chart__thumb {
    display: none;
  }
}
