[program:meilisearch]
directory={{ ansible_facts.env.HOME }}
command=meilisearch-{{ meilisearch_version }}
    --env production
    --master-key {{ meilisearch_master_key }}
    --no-analytics
    --db-path {{ meilisearch_db_dir }}
    --http-addr 0.0.0.0:7700
startsecs=30
stderr_logfile={{ ansible_facts.env.HOME }}/logs/meilisearch.log
