@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibm-plex-sans-variable.woff2")
    format("woff2 supports variations"),
    url("../fonts/ibm-plex-sans-variable.woff2") format("woff2-variations");
  font-weight: 100 700;
  font-stretch: 85% 100%;
}
