name: Scheduled scraper tests

on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * 2" # every Tuesday at 00:00

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    env:
      # Make Python system packages (such as Xapian) accessible
      PYTHONPATH: /usr/lib/python3/dist-packages

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install Xapian
        run: sudo apt-get -y -q install python3-xapian

      # Stopwords are included in the Alpine Xapian package, but for some reason they are not included
      # in the Ubuntu package. This downloads them from the same source as the Alpine package:
      # https://gitlab.alpinelinux.org/alpine/aports/-/blob/3.19-stable/community/xapian-core/APKBUILD#L12
      - name: Download stopwords
        working-directory: ${{ runner.temp }}
        run: |
          curl -o xapian-core-1.4.26.tar.xz https://oligarchy.co.uk/xapian/1.4.26/xapian-core-1.4.26.tar.xz
          tar -xf xapian-core-1.4.26.tar.xz
          mkdir -p /usr/share/xapian-core/stopwords
          cp xapian-core-1.4.26/languages/stopwords/english.list /usr/share/xapian-core/stopwords/english.list

      - name: Install poetry
        run: pipx install poetry==2.1.4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "poetry"
          cache-dependency-path: "./backend/poetry.lock"

      - name: Install dependencies
        run: poetry install

      - name: Run tests against live data sources
        run: make test
        env:
          HTV_TEST_MOCK_REQUESTS: "false"
          HTV_BACKEND_DATABASE_URI: "sqlite:///${{ github.workspace }}/storage/database/database.sqlite3"
          HTV_SEARCH_INDEX_DIR: "${{ github.workspace }}/storage/index"

      - name: Send Pushover notification
        if: failure()
        run: |
          curl \
            --silent \
            --form-string "token=${{ secrets.PUSHOVER_API_TOKEN }}" \
            --form-string "user=${{ secrets.PUSHOVER_USER_KEY }}" \
            --form-string "message=Scheduled scraper tests failed" \
            --form-string "url_title=Workflow run" \
            --form-string "url=https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}" \
            https://api.pushover.net/1/messages.json
