[program:epvotes-scrapers]
directory={{ epvotes.install_dir }}/scrapers
command={{ poetry_executable }} run python -m flask run
environment=FLASK_APP="{{ epvotes.install_dir }}/scrapers/ep_votes/api.py"
startsecs=30
logfile={{ ansible_facts.env.HOME }}/logs/epvotes-scrapers.log
